@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,600;1,200;1,400;1,600&family=Spartan:wght@400;500;700&display=swap');

//contents-size :
$pageWidth:1366px;
$contentWidth:1120px;
$min-margin: 20px;
$tabletBreakpoint:959px;
$mobileBreakpoint:600px;

//colors
$grey: #433F3D;
$white: #FFFFFF;
$lightGreen: #CDE0C6;
$green: #708A65;
$lightBlue: #D0E0E3 ;
$blue: #B4C6D6 ;
$darkBlue: #76A5AF ;
$lightClay: #f1e7d5 ;
$clay: #e6d2b1 ;
$darkClay: rgb(172, 138, 105) ;
$lightBrown: #dfd4cc;
$brown : #a49184;

//font
$font :  "Montserrat", "Roboto", "Helvetica", sans-serif;;
$titleFont :'Spartan', sans-serif;


.content-width{
  width: $contentWidth;
  margin: 0 auto;
  @media (max-width: $contentWidth + 2 * $min-margin) {
    width: auto;
    margin: 0 $min-margin;
  }

}

.settingForm{
  .group{
    padding: 10px 20px;
    .label{
      font-weight: bold;
    }
    .field{
      margin: 10px 0px;
    }
  }
}
.page-width{
  width: $pageWidth;
  margin: 0 auto;
  @media (max-width: $pageWidth + 2 * $min-margin) {
    width: auto;
    margin: 0 $min-margin;
  }
}
.page{
  min-height: 100vh;
}
.none{
    display:none;
}

.block {
  //titles
  font-family: $font ;
  color: $grey;
  * {
    font-family: $font ;
    color: $grey;
  }
  a{
    @media(max-width: $tabletBreakpoint){
      &:hover{
        color: $green;
     }
    }
  }
  h1, h2, h3, h4, h6{
    font-family : $titleFont;
    margin: 0 0 10px 0;
  }
  h5{
    //headline
    text-transform: uppercase;
    margin: 0 0 10px 0;
    font-weight: normal;
  }
  h1{
    font-size: 96px;
  }
  h2{
    font-size: 60px;
  }
  h3{
    font-size: 48px;
  }
  h4 {
    font-size: 34px;
  }
  h5 {
    font-size: 24px;
  }
  h6{
    font-size: 20px;
  }


  //links :
  .link{
      text-decoration: none;
      color: unset;
  }
   //animations :
  @mixin shaky{
      animation-name: shake;
      animation-duration:2.2s;
      animation-iteration-count: infinite;
  }
  .shaky {
    @include shaky;
  }
  @keyframes shake {
    5%, 45% {
      transform: translate3d(-1px, 0, 0);
    }
    
    10%, 40% {
      transform: translate3d(2px, 0, 0);
    }

    15%, 25%, 35% {
      transform: translate3d(-4px, 0, 0);
    }

    20%, 30% {
      transform: translate3d(4px, 0, 0);
    }
    50% {
        transform: translate3d(0,0,0);
    }
  }

}

:export{
  tabletBreakpoint:$tabletBreakpoint;
  mobileBreakpoint:$mobileBreakpoint;
}
