@import "../../common";

.block{
    background-color: $grey;
    padding: 20px 0px;
    min-height: 120px;
    box-sizing: border-box;
    color: white;
    *{
        color: white;

    }
    .content{
        @extend .content-width;
        .links{
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            .footerLink{
                padding:10px;
                font-weight: lighter;
                text-decoration: none;
                color:white
            }
            .activeFooterLink{
                text-decoration-color: white;
                text-decoration: underline;
            }
        }
        .text{
            margin-top: 20px;
            text-align: center;
        }
        
    }
}
