@import "../../common";

.block{
    width: 100%;
    .form{
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 20px;
        column-gap: 20px;
        input[name="entreprise"], input[name="email"], textarea{
            grid-column-end: span 2;
        }
        input, textarea{
            font-family: $font;
            font-size: toRem(18);
            width: 100%;
            height: 50px;
            padding-left: 20px;
            box-sizing: border-box;
            @media(max-width: $mobileBreakpoint){
                grid-column-end: span 2; 
            }
            border: none;
            border-bottom: 1px solid $green;
            background-color: rgba($lightGreen,0.2);
            &:focus{
                outline: none;
                border-bottom: 2px solid $green;
            }
        }
        textarea{
            padding-top: 20px;;
            resize: none;
            height: 200px;
        }
        .buttonRow{
            display: flex;
            justify-content: flex-end;
            grid-column-end: span 2; 
            margin-bottom: 40px;
            button{
                border: none;
                padding: 15px 40px;
                background-color: $clay;
                color: $white;
                transition: all 0.4s ease;
                text-transform: uppercase;
                font-size: toRem(20);
                font-weight: 700;
                border-radius: 10px;
                @media(min-width: $tabletBreakpoint){
                    &:hover{
                        background-color: $darkClay;
                    }
                }
                @media(max-width: $mobileBreakpoint){
                    width: 100%;
                }
            }
        }
        
    }
}
