@import "../../common";

.block {
    height:100px;
    position: relative;
    width: 100%;;
    z-index:999;
    .navbar{
        background-color: white;
        height: 100px;
        position: fixed;
        top: 0;
        z-index:999;
        width: 100%;
    }
    .logo{
        max-height:70px;
        margin: 0px;
    }
   
    .content{
        @extend .page-width;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
        .mobileButton{
            width:100%;
            display: flex;
            justify-content: flex-end;
        }
        .buttons{
            display: flex;
            font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            .link{
                padding:15px;
                flex-grow: 1;
                text-align: center;
                border-radius: 5px;
                transition: color 0.3s ease;
                
            }
            .activeLink{
                @extend .link;
                font-weight: 600;
            }
        }
    }
   
}
.drawerMenu{
    @extend .block;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 20px 40px;
    height: 100%;
    justify-content: center;
    align-items: center;
    width: auto;
    max-width: 100%;
    text-align: center;
    .link{
        margin: 10px 0px;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        .divider{
            width: 20px;
            height:1px;
            background-color: $green;
            margin-top: 15px;
        }
        
    }
    .activeLink{
        @extend .link;
        font-weight: 600;
    }
    a:last-child{
        .divider{
            display: none;
        }
    }


}
